.navUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 100%;
  margin: var(--spacing-s) auto;
  width: var(--content-width);
}

.navClick {
  border-bottom: none;
  color: inherit; 
  font-weight: bold;
  font-size: var(--font-size-s);
  margin: 0;
  position: relative;
  text-decoration: none;
}