.contactMainContent {
  margin-top: 5em;
  min-height: 30em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
}

@media screen and (max-width: 1420px) {
  .contactMainContent {
    margin-top: 5em;
    min-height: 30em;
    margin-bottom: 4em;
    display: block;
  }
  .contactSectionContent {
    align-items:center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
    min-width: 50%;
    max-height: 25em;
  }
  .contactSectionContentForms {
    min-width: 50%;
    max-height: 25em;
    margin: 1em;
  }
  
  .contactSectionContent a{
    color: inherit;
    text-align: center;
  }
}

.contactSectionContent {
  align-items:center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em;
  min-width: 50%;
  max-height: 25em;
}

.contactSectionContentForms {
  min-width: 50%;
  max-height: 25em;
  margin: 1em;
}

.contactSectionContent a{
  color: inherit;
  text-align: center;
}

.contactMainContent h1 {
  font-weight: 800;
  font-family: 'Rubik', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 1.9em;
  margin-top: var(--spacing-m);
  padding: 8px;
}

.contactMainContent p {
  font-size: 1em;
  margin-top: var(--spacing-m);
  padding: 8px;
  font-family: 'Rubik', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}